.button
{
    background-color: red;
    color: white;
    border-radius: 10px;
    border-color: black;
    margin-left:auto;
    margin-top:1%;
    padding:1px 5px;
    height:30px;
    width: 75px;
}